--- rel/vars.config.orig	2016-02-15 07:47:05 UTC
+++ rel/vars.config
@@ -25,16 +25,16 @@
 {sm_backend, "{mnesia, []}"}.
 {auth_method, "internal"}.
 {ext_auth_script, "%%{extauth_program, \"/path/to/authentication/script\"}."}.
-{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls,"}.
-{https_config, "{cert, \"priv/ssl/fake_cert.pem\"}, {key, \"priv/ssl/fake_key.pem\"}, {key_pass, \"\"},"}. %% Applies to Websockets, BOSH and metrics; PEM format
+{tls_config, "{certfile, \"/usr/local/etc/mongooseim/server.pem\"}, starttls,"}.
+{https_config, "{cert, \"/usr/local/etc/mongooseim/cert.pem\"}, {key, \"/usr/local/etc/mongooseim/key.pem\"}, {key_pass, \"\"},"}. %% Applies to Websockets, BOSH and metrics; PEM format
 {zlib, "%%{zlib, 10000},"}. %% Second element of a tuple is inflated data size limit; 0 for no limit
 {registration_watchers, "%{registration_watchers, [\"admin@localhost\"]},"}.
 {riak_server, "%%{riak_server, [{pool_size, 20}, {address, \"127.0.0.1\"}, {port, 8087}, {riak_pb_socket_opts, []}]}."}.
 
 % These have to be the same to gather all
 % (bin/mongooseim - the script - and lager) log files in one place.
-{app_config_lager_log_dir, "\"log\""}.
-{mongooseim_runner_log_dir, "log"}.
+{app_config_lager_log_dir, "\"/var/log/mongooseim\""}.
+{mongooseim_runner_log_dir, "\"/var/log/mongooseim\""}.
 {http_api_endpoint, "{5288, \"127.0.0.1\"}"}.
 {s2s_use_starttls, "{s2s_use_starttls, optional}."}.
-{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
+{s2s_certfile, "{s2s_certfile, \"/usr/local/etc/mongooseim/server.pem\"}."}.
