--- rebar.config.orig	2016-02-15 07:47:05 UTC
+++ rebar.config
@@ -15,7 +15,7 @@
   {base16, ".*", {git, "git://github.com/goj/base16.git", "1e9dd28bdbcfb"}},
   {cuesport, ".*", {git, "git://github.com/esl/cuesport.git", "d82ff25"}},
   {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", "7c7eaef"}},
-  {exml, ".*", {git, "git://github.com/esl/exml.git", "2.2.0"}},
+  {exml, ".*", {git, "git://github.com/thomaslegg/exml.git", "2.2.0.1"}},
   {lager, "2.0.3", {git, "git://github.com/basho/lager.git", "b7984d4"}},
   {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.4"}},
   {exometer, ".*", {git, "git://github.com/esl/exometer.git", {branch, "1.1-patched"}}},
